<!--
Manas Mehta, F. Caballero and F.J. Perez-Grau
Files tuned for Carnegie Robotics Multisense Head
-->
<launch>

  <node name="viodom_node" type="viodom_node" pkg="visor" output="screen" >
    <param name="left_cam" value="/multisense/left/image_rect" />
    <param name="right_cam" value="/multisense/right/image_rect" />
    <param name="imu_topic" value="/multisense/imu/imu_data" />
    <param name="slam_pose" value="/slam_node/slamPose" />
    <param name="downsampling" value="2" />
    <param name="publish_pc" value="true" />
    <param name="max_features" value="800" />
    <param name="flow_threshold" value="5.0" />
    <param name="min_matches" value="10" />
    <param name="src_frame_id" value="world" />
    <param name="tgt_frame_id" value="base_link" />
    <param name="display_images" value="false" />
  </node>
  <node name="slam_node" type="slam_node" pkg="visor" output="screen" >
    <param name="pose_topic" value="/viodom_node/viodom_kfpose" />
    <param name="p2d_topic" value="/viodom_node/point2d_cloud" />
  </node>

</launch>
